[Desktop Entry]
Version=1.1
Type=Application
Name=Argon Floating Browser
GenericName=Argon Floating Browser
Comment=Minimal floating browser window
Icon=/usr/local/share/pixmaps/argon.browser.svg
Exec=python main.py
Path=/opt/argon-browser
Actions=
Categories=Internet;
